<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма загрузки файла</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='templates/css/styles.css') }}">
</head>
<body>
    <h1>Загрузите файл</h1>
    <form id="uploadForm" action="{{ upload_url }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit">Загрузить</button>
    </form>
    <div id="tableContainer"></div>

    <script>
        document.getElementById("uploadForm").addEventListener("submit", async function(event) {
            event.preventDefault();
            let formData = new FormData(this);
            let response = await fetch("{{ upload_url }}", {
                method: 'POST',
                body: formData
            });
            let data = await response.json();
            let tableHTML = "<h2 style='text-align: center;'>Данные из файла:</h2><table><tr><th>Слово</th><th>TF</th><th>IDF</th></tr>";
            data.forEach(function(item) {
                tableHTML += "<tr><td>" + item.word + "</td><td>" + item.tf + "</td><td>" + item.idf + "</td></tr>";
            });
            tableHTML += "</table>";
            document.getElementById("tableContainer").innerHTML = tableHTML;
        });
    </script>
</body>
</html>
